In [ ]:
# %pip install pandas
# %pip install openpyxl

In [4]:
import pandas as pd
import numpy as np

In [33]:
df = pd.read_excel('../raw data/Book1.xlsx', header=0, index_col=0)
df.head(5)

                     МНО Текущая доза              Назаначения Пометки
Дата
2022-03-03 00:00:00  NaN          NaN                      NaN     NaN
2022-03-09 00:00:00  1.8       2 ¼ т.  2 ¼ т./2 ½ т. варфарина     NaN
NaN                  NaN    варфарина      2022-03-09 00:00:00     NaN
NaN                  NaN          NaN   Ларина Инна Валерьевна     NaN
NaN                  NaN          NaN                      NaN     NaN

In [25]:
df.columns
# .iloc[1,2]

Index(['Дата', 'МНО', 'Текущая доза', 'Назаначения', 'Пометки'], dtype='object')

In [72]:
not_empty = (pd.read_excel('../raw data/Book1.xlsx')['МНО'] != 'МНО').values & \
~ pd.read_excel('../raw data/Book1.xlsx')['МНО'].isna().values

In [77]:
short_df = df.iloc[not_empty, :].copy()
short_df.head()

,МНО,Текущая доза,Назаначения,Пометки
Дата,,,,
2022-03-09 00:00:00,1.8,2 ¼ т.,2 ¼ т./2 ½ т. варфарина,NaN
2022-04-06 00:00:00,1.4,2 ¼ т.,2 ½ т. варфарина,Продолжал принимать 2.25 таб беседа проведена....
2022-04-13 00:00:00,1.8,2 ½ т.,2 ½ т./2 ¾ т.,NaN
2022-05-04 00:00:00,2.8,2 ½ т.,2 ½ т. варфарина,Продолжал принимать 2.5 таб
2022-06-01 00:00:00,1.8,2 ¼ т.,NaN,NaN

In [78]:
short_df['Текущая доза']

Дата
2022-03-09 00:00:00                     2 ¼ т.
2022-04-06 00:00:00                     2 ¼ т.
2022-04-13 00:00:00                     2 ½ т.
2022-05-04 00:00:00                     2 ½ т.
2022-06-01 00:00:00                     2 ¼ т.
2022-06-29 00:00:00    2 ¼ т./2 ½ т. варфарина
2022-07-27 00:00:00    2 ½ т./2 ¼ т. варфарина
2022-08-24 00:00:00    2 ½ т./2 ¼ т. варфарина
2022-09-21 00:00:00    2 ¼ т./2 ½ т. варфарина
2022-10-19 00:00:00    2 ½ т./2 ¼ т. варфарина
2022-11-30 00:00:00                     2 ¼ т.
2022-12-28 00:00:00                     2 ½ т.
2023-01-25 00:00:00                     2 ½ т.
2023-03-01 00:00:00                     2 ½ т.
2023-04-05 00:00:00                     2 ½ т.
2023-04-26 00:00:00                     2 ½ т.
2023-05-24 00:00:00                     2 ½ т.
2023-06-21 00:00:00    2 ½ т./2 ¾ т. варфарина
2023-07-19 00:00:00    2 ½ т./2 ¾ т. варфарина
Name: Текущая доза, dtype: object